html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* Banner */

.banner {
  position: relative;
}

.banner-img {
  width: 100%;
}

.banner-text {
  position: absolute;
  width: 25%;
  top: 20%;
  left: 10%;
  color: white;
}

.banner-text h1 {
  font-size: 4rem;
}

.banner-text h2 {
  font-size: 1.2rem;
}

.banner-text P {
  font-size: 1.5rem;
}

/* ///////// */
/* Reasons */

.reasons {
  padding: 50px 10%;
}

/* ///////// */
/* Experiences */

.experiences {
  padding: 50px 10%;
}

.review-container {
  height: 1000px;
}

/* ///////// */